  .container {
    background-color: #fff;
   width: 100%;
  }
  :is(.containerTituloLogo){
    display: flex;
          align-items: center;
          justify-content: space-between;
          flex-flow: row;
          flex-wrap: wrap;
          background: #0a326d;
          color:white;
  }
  .imglogo {
    object-fit: cover;
    width: 60px;
    height: auto;
    flex-shrink: 0;
    border-radius: 6px;
}
  h1, h2 {
    color: #1a237e;
    text-align: center;
   
  }
  
  label, input, select, button {
    display: block;
    margin: 10px 0;
  }
  
  input, select {
    padding: 8px;
    width: 100%;
    max-width: 300px;
  }
  
  button {
    padding: 10px 15px;
    background-color: #1a73e8;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0f5fd3;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }
  