 
  :is(.containerTituloLogo){
    display: flex;
          align-items: center;
          justify-content: space-between;
          flex-flow: row;
          flex-wrap: wrap;
         
  }
  .imglogo {
    object-fit: cover;
    width: 60px;
    height: auto;
    flex-shrink: 0;
    border-radius: 6px;
}
  h1, h2 {
    color: #1a237e;
    text-align: center;
   
  }
  
  label, input, select, button {
    display: block;
    margin: 10px 0;
  }
  
  input, select {
    padding: 8px;
    width: 100%;
    max-width: 300px;
  }
 
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
  }
  
  th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }

.containerform-agregar {
 margin:0 auto;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px 20px rgba(0, 0, 0, 0.1);
    width: 70%;
    height: 60vh;
    text-align: center;
}

.containerOpciones select{
  width: 300px;
}

.form-agregar,.containerOpciones{
  display: flex;
  text-align: center;
  flex-direction: row;
 justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}
input{
  width: 300px;
  padding: 10px;
}
:focus{
  outline: 2px solid blue ;
 
  
 }
 /* .btnacciones button{
  display: flex;
 
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
 } */
 .btnacciones {
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Espacio entre botones */
  margin-top: 15px;
  margin-left: 200px;
  flex-wrap: wrap; /* Si hay muchos botones, que bajen */
}
 button {
 
  padding: 10px 15px;
  background-color: #0f5fd3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
 
  transition: 1s;
}
button:hover {
  background-color:transparent;
color:black;
}