*{
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
  transition:0.6 ;
  box-sizing: border-box;
}


.imglogo {
  object-fit: cover;
  width: 60px;
  height: auto;
  flex-shrink: 0;
  border-radius: 6px;
}

:is(.containerTituloLogo,.containerProgreso,.form-group,ul){
  display: flex;
        align-items: center;
        justify-content: space-between;
        /* flex-flow: row; */
        flex-wrap: wrap;
}
.containerTituloLogo{     
  background:rgb(1, 1, 45);
  color:white;
 
}

nav{
width: 100%;
height: auto;
}
ul{
list-style: none;
}
a{
  text-decoration: none;
}
:is(.colormenu,aside,nav){
  background:black; 
}
:is(a,aside){
  color:white;
  font-size: 20px;
}
.colormenu{
  width: 10%;
}
:is(.containerProgreso,.colormenu,.sudmenu,.sudmenu div,ul,.cajaverde,p){
  padding: 7px;
}
li a:hover{
  color:yellow;
}
:is(.cajaverde){
  background:green;
  font-size: 60%;
}
.containerTituloLogo h1{
  font-size: 100%;
}

.sudmenu{
  visibility: hidden;
 
  }
  .sudmenu div a{
    font-size: 20px;
   
  }
  .contenedorPrincipal {
    display: flex;
    width: 100%;
    height: 88vh;
  }
  .container{
    visibility: hidden;
  }
  section.centrado {
   width: 80%;
  overflow: hidden;
  }  
  
  
  aside {
    flex-basis: 9%;
   height: auto;
  }

.cajaverde{

  cursor: pointer;
}

.containerProgreso div{
  border-radius:80%;
   border-left:blue solid 6px;
   border-top:green solid 6px;
   padding: 30px;
   font-size: 20px;
  }

table {
  text-align: center;
font-size: 20px;
width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin-top: -140px; 

  height: auto;
}

thead {
 
  background-color: #007bff;
  color: white;
 
}

th {
  padding: 1rem;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 1.3rem;
 
}
tr{
  border: 1px solid #6b92f4;
}
p{
font-weight: 15px;
  text-align: center;
}
#tablaComponentes,#containerProgreso{
  visibility: hidden;
}
 


/* alquiler */



.container {
  background: white;
  padding: 25px;
  border-radius: 10px;
  width: 90%;
  flex-grow: 1;
  margin: auto;
  margin-left: 70px;
  margin-top: -100px;
  box-shadow: 0px 0px 10px 20px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
 font-size: 20px;
 padding: 5px;
}
form{
  width: 100%;
  padding: 10px;
}
input, select {
  width: 300px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 5px;
}
:focus{
  outline:1px #0056b3 solid;
}


button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

.result {
  text-align: center;
  margin-top: 20px;
  font-size: 18px;
  color: #444;
}
 footer {
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 6vh;
  text-align: center;
  background-color:black;
  color: #fff;
 font-size: 20px;
  
} 
