*{
  margin: 0;
  padding: 0;
  background-attachment: fixed;
  background-size: cover;
  transition:0.6 ;
}
:is(.containerTituloLogo,.containerProgreso,ul){
  display: flex;
        align-items: center;
        justify-content: space-between;
        flex-flow: row;
        flex-wrap: wrap;
}
.containerTituloLogo{     
       background:rgb(1, 1, 45);
       color:white;
    }
    .imglogo {
        object-fit: cover;
        width: 60px;
        height: auto;
        flex-shrink: 0;
        border-radius: 6px;
    }
nav{
  width: 100%;
  height: 5vh;
}
ul{
  list-style: none;
}
li{
  width: 5.8%;
  height: 3.8vh;
}
 a{
  text-decoration: none;
}
:is(.colormenu,aside,nav){
  background:black; 
}
:is(a,aside){
  color:white;
  font-size: 20px;
}
:is(.colormenu,.sudmenu){
  width: 10%;
}
:is(.containerProgreso,.colormenu,.sudmenu,.sudmenu div,ul,.cajaverde,p){
  padding: 10px;
}
li a:hover{
  color:yellow;
}
:is(.cajaverde){
  background:green;
}
.sudmenu{
height: 81vh;
visibility: hidden;
}
.sudmenu div a{
  font-size: 25px;
}
.sudmenu div{
  width: 150px;
text-align: center;


}
.sudmenu a:hover{
  color:black;
 
}
.sudmenu div:hover{
  background:white;
 
}
.contenedorPrincipal {
  display: flex;
  width: 100%;
  height: 88vh;
}
.cajaverde{
  width: 100%;
  cursor: pointer;
}
aside {
  width: 9%;
}
section.centrado {
  width: 91%;
  background-color: #f0f0f0; /* solo para visualización */
}
.containerProgreso div{
  border-radius:80%;
   border-left:blue solid 6px;
   border-top:green solid 6px;
   padding: 30px;
   font-size: 20px;
  }

table {
  text-align: center;
font-size: 20px;
width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  border-radius: 12px;
  overflow: hidden;
  margin-top: -140px; 
  overflow: scroll;
  height: auto;
}

thead {
 
  background-color: #007bff;
  color: white;
}

th {
  padding: 1rem;
  text-align: center;
  border: 1px solid #ddd;
  font-size: 1.3rem;
}
tr{
  border: 1px solid #6b92f4;
}
p{
font-weight: 15px;
  text-align: center;
}
#tablaComponentes,#containerProgreso{
  visibility: hidden;
}




/* aa */
/* Estilo para el contenedor de la tabla */
.table-container {
  width: 100%; /* El contenedor ocupa el ancho disponible */
  overflow-x: auto; /* Habilita el scroll horizontal */
  border: 1px solid #ccc; /* Borde opcional para el contenedor */
}

/* Estilo para la tabla */
.tablaComponentes {
  width: auto; /* La tabla se ajusta al contenido */
  border-collapse: collapse;
  min-width: 800px; /* Ancho mínimo para forzar el scroll */
}

/* Estilo para las celdas de la tabla */
.tablaComponentes th,
.tablaComponentes td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
  min-width: 150px; /* Ancho mínimo para cada columna */
}

/* Estilo para las imágenes */
.tablaComponentes img {
  max-width: 100px;
}