body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

header {
  background-color: #040445;
  color: #fff;
  padding: 1rem;
  text-align: center;
}
 li {
list-style: none;
}
main {
  padding: 20px;
  background: #efebeb;
 
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.product {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 200px;
  text-align: center;
}

.product img {
  max-width: 100%;
  height: auto;
}

.add-to-cart {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.add-to-cart:hover {
  background-color: #218838;
}
.carrito{
  margin-top: 20px;
}
.carrito > h2{
  margin-top: 220px;
  font-size: 30px;
  }

  #checkout-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  #checkout-btn:disabled {
    background-color: #ccc;
  }
  .carrito{
    position: fixed;
    top: 1px;
    margin-left: -20px;
 text-align: center;
   background:black;
   width:100%;
   height: 100%;
   color:white;
   opacity: 0.8;
   display: none;
  }
  .imgcarro{
    font-size: 35px;
  }
  #cart-items {
    min-height: 100px;
    padding: 10px;
    gap: 20px;
    font-size: 20px;
  }
  :is(.containerTituloCarrito, .containerClose, #cart-items){
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .containerClose{
   
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  footer {
    width: 90%;
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 10vh;
    text-align: center;

    /* 
    background-color: #333;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%; */
  } 
