/* Estilos generales */


h1 {
    text-align: center;
    color: #333;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 4px 0;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th, td {

    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #f8f9fa;
    font-weight: bold;
    color: #333;
}

td {
    background-color: #fff;
  
}

td:focus {
    background-color: #e9ecef;
    outline: none;

}
:is(.indentificaor,.serial,.fabricante,.almacenamiento,.procesador,
.ram,.almacenamiento,.grafica,.pantalla,.sistema,.puertos,.precio,.stock,.imagen){
    width: 100%;
}
/**/
.containerInput,.subcontainerInput{
   
    display: flex;
    gap: 20px;
    flex-grow: 1;
    
}